<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h2>Group leader</h2>
<div>
	<p style="font-weight: bold">Dr. Martin Kollmar</p>
	<p style="line-height: 20px;">mako@nmr.mpibpc.mpg.de</p>
	<p style="line-height: 20px; font-family: monospace;">Tel: + 49 (0)551 201 2260<br />
		Fax: + 49 (0)551 201 2202</p>
</div>

<h2>Max-Planck-Institute for Biophysical Chemistry</h2>
<div>
	<p style="line-height: 20px; font-weight: bold">Department of NMR-based Structural Biology<br />
		Group Systems Biology of Motor Proteins</p>
	Am Fassberg 11 <br />
	37077 G&#246;ttingen
</div>
