<% provide(:title, 'Download') %>
<h1>Download</h1>
<p>
        <a href="downloads/gene_painter.tgz" class="external">tgz compressed archive</a><span style="font-size:smaller"> (click to download archive)</span><br>
        <a href="downloads/gene_painter.zip" class="external">zip compressed archive</a><span style="font-size:smaller"> (click to download archive)</span>
        <br>
        <a href="downloads/Documentation.pdf" class="external">Documentation</a><span style="font-size:smaller"> (click to download pdf)</span>
</p>
<h2>Archive content</h2>
<p>
        <table>
                <tr>
                        <td>gene_painter.rb</td><td>Main script</td>
                </tr>
                <tr>
                        <td>lib/</td><td>Folder containing library</td>
                </tr>
                <tr>
                        <td>example/</td><td>Folder containing test data</td>
                </tr>
                <tr>
                        <td>tools/</td><td>Folder containing additional scripts, i.e. to obtain NCBI taxonomy dump and YAML files</td>
                </tr>
                <tr>
                        <td>Documentation.pdf</td><td>Exhaustive documentation</td>
                </tr>
                <tr>
                        <td>README</td><td>Information about installation and usage of GenePainter</td>
                </tr>
        </table>
</p>