<% provide(:title, 'General Information') %>
<%= content_tag(:h1, "Help") %>
<%= content_tag(:h2, "Contents") %>

<a name="top" class="anker"></a>
<ul style="padding-left: 5%">
	<li><a class = "internal" href="#general">General</a></li>
	<li><a class = "internal" href="#commandline">Command Line Tool</a></li>
	<li><a class = "internal" href="#licence">Licence</a></li>
</ul>

<h2>
	<table width=100% class="unstyled">
		<tr>
			<td align="left"><a name="general" style="font-style: normal">General</a></td>
			<td align="right"><a class="internal" href="#" style="font-size: 12px">Back to top</a></td>
		</tr>
	</table>
</h2>
	<p>
		The conservation of intron positions comprises information useful for de novo gene prediction as well as for analyzing the origin of introns. Here, we present GenePainter, a standalone tool for mapping gene structures onto protein multiple sequence alignments (MSA). Gene structures, as provided by <a class="external" href="http://www.webscipio.org" style="font-size: 12px">WebScipio</a>, are aligned with respect to the exact positions of the introns (down to nucleotide level) and intron phase. Output can be viewed in various formats, ranging from plain text to graphical output formats.</p>
		
	<p>Detailed descriptions of the intron mapping algorithm, the analysis strategies and the various output options can be found in the following publications:</p>
	<p>
		<div style="font-weight:bold; padding: 10px 0px 0px 10px;">
			S. M&uuml;hlhausen, M. Hellkamp &amp; M. Kollmar (2014)</div>
		<div style="padding-left:20px;">
			<a style="font-style:normal" class="external" href="http://bioinformatics.oxfordjournals.org/content/early/2014/11/29/bioinformatics.btu798.long" target="GenePainter_v2">GenePainter 2.0 resolves the taxonomic distribution of intron positions.</a>
		</div>
		<div style="padding:0px 0px 10px 20px;">
			<i>Bioinformatics</i>, pii: btu798 &#91;Epub ahead of print&#93;.
		</div>  
	</p>	
	<p>
		<div style="font-weight:bold; padding: 10px 0px 0px 10px;">
			B. Hammesfahr, F. Odronitz, S. M&uuml;hlhausen, S. Waack &amp; M. Kollmar (2013) 
			<%= link_to(image_tag("layout/openaccess.gif", :alt=>"Open Access", :style => "float:right; padding-left:5px"), "http://www.biomedcentral.com/info/about/openaccess", :target => "_blank") %>
			<%= link_to(image_tag("layout/highlyaccessed.gif", :alt=>"Highly Accessed", :style => "float:right; padding-left:5px"), "http://www.biomedcentral.com/info/about/mostviewed#highlyaccessed", :target => "_blank") %>
		</div>
		<div style="padding-left:20px;">
			<a style="font-style:normal" class="external" href="http://www.biomedcentral.com/1471-2105/14/77" target="GenePainter_v1">GenePainter: a fast tool for aligning gene structures of eukaryotic protein families, visualizing the alignments and mapping gene structures onto protein structures.</a>
		</div>
		<div style="padding:0px 0px 10px 20px;"><i>BMC Bioinformatics</i><b> 14</b>, 77.
		</div>  
	</p>

<h2>
	<table width=100% class="unstyled">
		<tr>
			<td align="left"><a name="commandline" style="font-style: normal">Command Line Tool</a></td>
			<td align="right"><a class="internal" href="#" style="font-size: 12px">Back to top</a></td>
		</tr>
	</table>
</h2>

	<h3>Installation</h3>
		<p>GenePainter has been tested and is running under Linux, MaxOS and Windows.</p>
		
		<h4>Unpack</h4>
			<p>Use one of the following methods, depending on the archive file type:</p>
			<p><span style="font-family: monospace">$ unzip gene_painter.zip</span></p>
			<p><span style="font-family: monospace">$ tar  xzf gene_painter.tgz</span></p>
		<h4>Compilation</h4>
			<p>No compilation required.</p>
		<h4>Ruby version</h4>
			<p>Ruby version 2.0 or higher is required. If necessary, consider using the <a class="external" href="https://rvm.io/">Ruby Version Manager (RVM)</a> to install and work with multiple ruby environments on your machine.</p>
	<h3>Usage</h3>
		<p>
			<span style="font-family: monospace">$ ruby gene_painter.rb -i <i>&#60;alignment&#62;</i> -p <i>&#60;yaml_files&#62;</i> [<i>&#60;options&#62;</i>]</span>
		</p>

		<p>The options are described in more detail <a class="internal" href="help_commandline">here</a> and in the accompanying documentation.</p>

		<h4>Ruby interpreter</h4>
			<p>Invoke GenePainter via one of the following options:</p>
			<ul style="padding-left: 5%">
				<li>
					As a script 
					<p>
						<span style="font-family: monospace">$ ruby gene_painter.rb</span>
					</p>
				</li>
				<li>
					As a program
					<p>
						<span style="font-family: monospace">$ ./gene_painter.rb</span>
					</p>					
				</li>
			</ul>

			<p><b>Important note</b></br>
			GenePainter assumes that <span style="font-family: monospace">/usr/bin/env</span> ruby points to the RVM ruby interpreter. While this will work on most UNIX systems, it might not work on windows machines. In case you encounter any <span style="font-family: monospace">&quot;/usr/bin/env ruby: No such file or directory&quot;</span> errors, please edit the very first line of script <span style="font-family: monospace">gene_painter.rb</span> and change the specified path to the correct one. For example, with the Ruby interpreter located at <span style="font-family: monospace">/usr/bin/ruby</span>, the Shebang should look like this: <span style="font-family: monospace">#!/usr/bin/ruby</span>.</p>

		<h4>Using GenePainter under windows</h4>
			<p>GenePainter was developed for UNIX and Mac. To use GenePainter under Windows, you might consider installing Cygwin, which comes with a bash and appropriate GNU tools. Please make sure to have GNU tools <span style="font-family: monospace">grep</span> and <span style="font-family: monospace">tar</span> installed and in your executable path when using GenePainter with its taxonomy options. If not, you should unpack the NCBI taxonomy dump yourself and add the parameter <span style="font-family: monospace">--no-grep</span> to read the taxonomy dump into memory instead of grepping its content. In order to use GenePainter with the parameter <span style="font-family: monospace">--tree</span>, please make sure to have <span style="font-family: monospace">python</span> installed and in your executable path.</p>

<h2>
	<table width=100% class="unstyled">
		<tr>
			<td align="left"><a name="licence" style="font-style: normal">Licence</a></td>
			<td align="right"><a class="internal" href="#" style="font-size: 12px">Back to top</a></td>
		</tr>
	</table>
</h2>
	<p>GenePainter can be downloaded and used under a GNU General Public License.</p>
