<% provide(:title, 'Team') %>
<h1>Team</h1>
<h2>Current Team Members</h2>
<div>
<p>
  <b style="font-size:120%; white-space:nowrap;">M.Sc. Stefanie M&#252;hlhausen</b>
</p>
<p>
  <b style="font-size:120%; white-space:nowrap;">Dr. Martin Kollmar, PI</b> <%=link_to "group homepage","http://www.motorprotein.de/", :class => "external", :target => "_blank"%>
</p>
</div>
