<% provide(:title, 'Team') %>
<h1>Team</h1>
<h2>Current Team Members</h2>
<p>
    Vu Bui
</p>
<p>
    Stefanie M&#252;hlhausen
</p>
<p>
    Marcel Hellkamp
</p>
<p>
	Dr. Martin Kollmar, <%=link_to "group homepage","http://www.motorprotein.de/", :class => "external", :target => "_blank"%>
</p>
