<div id='data_table'>
  <table id='one-column-emphasis'>
    <thead>
      <tr>
        <th scope='col'>Analyze</th>
        <th scope='col'>View</th>
        <th scope='col'>Sequence Name</th>
        <th scope='col'>Gene Structure</th>
        <th scope='col'>Generate Gene Structure</th>
        <th scope='col' style='width: 30%;'>Species</th>
      </tr>
    </thead>
    <tbody>
      <!-- Will be added when species mapping file is uploaded.
      See upload_species_mapping.js.erb for details. -->
    </tbody>
  </table>
</div>

<%=
  content_tag(:div,
    check_box_tag('select_all') +
    content_tag(:span, 'Select All', :style => 'padding-left: 5px; padding-right: 20px') +
    check_box_tag('deselect_all') +
    content_tag(:span, 'Deselect All', :style => 'padding-left: 5px; padding-right: 20px'),
    :id => 'options',
    :style => 'padding: 10px; padding-top: 20px;')
%>

<%= javascript_tag defer: 'defer' do -%>
  var $selectAll = $('input#select_all'),
    $deselectAll = $('input#deselect_all');

  $deselectAll.change(function() {
    var analyzeCheckBoxes = $('div#data_table').find('input#analyze'),
      viewCheckBoxes = $('div#data_table').find('input#view');

    checkAll($.merge(analyzeCheckBoxes, viewCheckBoxes), false);
  });

  $selectAll.change(function() {
    var analyzeCheckBoxes = $('div#data_table').find('input#analyze'),
      viewCheckBoxes = $('div#data_table').find('input#view');

    checkAll($.merge(analyzeCheckBoxes, _.first(viewCheckBoxes, 20)), true);
  });

<% end -%>

<%=
  content_tag(:div,
    content_tag(:button, 'Submit', :id => 'generateGeneStructureBtn') +
    content_tag(:p, '<b>Press submit when finished with data selection.</b>'.html_safe),
  )
%>

<%= javascript_tag defer: 'defer' do -%>
  var $btnSubmit = $('button#generateGeneStructureBtn');

  $btnSubmit.click(function() {
    var needGeneStructures = [];
    var boxes = $('div#data_table').find('input#generateGeneStructure');

    for (var i = 0; i < boxes.length; i++) {
      if ( $(boxes[i]).is(':checked') ) {
        needGeneStructures.push(boxes[i].value);
      }
    }

    <!-- Call generate_gene_structures action in controller -->
    $.ajax({
      type: 'POST',
      url: '/create_gene_structures',
      data: {'data': needGeneStructures},
      dataType: 'script'
    });

  });
<% end -%>
