<p>
	<b>Example 1: </b><span onclick="load_example('coronin')" id="load_example_coronin" class="active_example">Coronin genes, 28 genes from 12 species.</span>
</p>
<p>
	<b>Example 2: </b><span onclick="load_example('tubulin')" id="load_example_tubulin" class="active_example">Tubulin genes, 57 genes from 4 species.</span>
</p>
<p class="filename">Click on link to load and submit example.</p>


<script defer>
	var authenticity_token = $('meta[name=csrf-token]').attr('content');
	function refreshSession() {
		// clean up uploaded files and refresh session-data; allows to upload both examples sequentially
		$.ajax({
			type: 'POST',
			url: build_ajax_path('/prepare_new_session'),
			data: {"authenticity_token": authenticity_token},
		});
	}

	function prepareForm(id, kind) {
		$('#'+id+'_is_example').val(true);
		$('#'+id+'_sample_data').val(kind);
	} 
	function submitData(kind) {
		// set form data before form is submitted
		$("#dataCenterForm #is_example").val(true);
		$("#dataCenterForm #sample_data").val(kind);

		var preSel;
		if (kind === "coronin") {
			preSel = "HsCoro1A";
		} else if (kind === "tubulin") {
			preSel = "HsTub1A";
		}
		$("#dataCenterForm #pdb_ref_seq").val(preSel).trigger('change');

		$('#dataCenterForm').submit(); 
	}

	function load_example(kind) {
		hide_show_waiting('show');

		var myId = "#load_example_" + kind;

		// style clicked example
		$(myId).append(" (Example loaded.)");
		$(myId).removeAttr("onclick");
		$(myId).removeClass("active_example");
		$(myId).addClass("inactive_example");

		// call functions to load example
		var AjaxQ = [
			function() {refreshSession()},
			function() {
				prepareForm("seq_form", kind);
				$("#sequenceForm").submit();
			}, 
			function() {
				prepareForm("genestruct_form", kind);
				$("#genestructForm").submit();	
			}, 
			function() {
				prepareForm("pdb_form", kind);
				$("#pdbForm").submit();
			},
			function() {
				prepareForm("species_form", kind);
				$('#speciesForm').submit();
			}, 
			function() {}, // hotfix to call submitData only after all other methods are finished
			function() {submitData(kind)}
		];
		$(document).sc_ExecuteAjaxQ({ fx: AjaxQ });
	}
</script>