<p>
	<b>Example 1: </b><span onclick="load_example('coronin')" id="load_example_coronin" class="active_example">Coronin genes, 28 genes from 12 species.</span>
</p>
<p>
	<b>Example 2: </b><span onclick="load_example('tubulin')" id="load_example_tubulin" class="active_example">Tubulin genes, 57 genes from 4 species.</span>
</p>
<p class="filename">Click on link to load and submit example.</p>


<script defer>

	function refreshSession() {
		// clean up uploaded files and refresh session-data; allows to upload both examples sequentially
		$.ajax({
			type: 'POST',
			url: build_ajax_path('/prepare_new_session')
		});
	}

	function load_example(kind) {
		var AjaxQ = [
			function() {refreshSession()},
			function() {load_sample_sequence_alignment(kind)}, 
			function() {load_sample_gene_structures(kind)}, 
			function() {load_species_mapping(kind)}, 
			function() {load_sample_pdb(kind)}
		];
		var myId;
		if (kind === "coronin") {
			myId = "#load_example_coronin";
		} else if (kind === "tubulin") {
			myId = "#load_example_tubulin";
		}

		AjaxQ.push(function() {
			hide_show_waiting('show');

			var all_species = new Array(); 
			$("#dataCenterForm input[name='species[]'][type='hidden']").each(function(){
				all_species.push( $(this).attr('value') ); 
			});

			$.ajax({
				type: 'POST',
				url: build_ajax_path('/call_genepainter'),
				data: {'is_example': true, 'sample_data': kind, 'species': all_species},
				success: function() {
					$(myId).append(" (Example loaded.)");
					$(myId).removeAttr("onclick");
					$(myId).removeClass("active_example");
					$(myId).addClass("inactive_example");
				}
			});

		});

		$(document).sc_ExecuteAjaxQ({ fx: AjaxQ });
	}
</script>