<p>
	<b>Example 1: </b><span onclick="load_example('coronin')" id="load_example_coronin" class="active_example">Coronin genes, 28 genes from 12 species.</span>
</p>
<p>
	<b>Example 2: </b><span onclick="load_example('tubulin')" id="load_example_tubulin" class="active_example">Tubulin genes, 50 genes from 4 species.</span>
</p>
<p class="filename">Click on link to load and submit example.</p>


<script defer>
	var authenticity_token = $('meta[name=csrf-token]').attr('content');

	function prepareForm(id, kind) {
		$('#'+id+'_is_example').val(true);
		$('#'+id+'_sample_data').val(kind);
	} 
	function submitData(kind) {
		// set form data before form is submitted
		$("#dataCenterForm #is_example").val(true);
		$("#dataCenterForm #sample_data").val(kind);

		var preSel;
		if (kind === "coronin") {
			preSel = "HsCoro1A";
		} else if (kind === "tubulin") {
			preSel = "HsTub1A";
		}
		$("#dataCenterForm #pdb_ref_seq").val(preSel).trigger('change');

		return $.ajax({
				type: 'POST',
				url: build_ajax_path('/call_genepainter'),
				data: $('#dataCenterForm').serialize(),
		});
	}

	function load_example(kind) {
		hide_show_waiting('show');

		var myId = "#load_example_" + kind;

		prepareForm("seq_form", kind);
		prepareForm("genestruct_form", kind);
		prepareForm("pdb_form", kind);
		prepareForm("species_form", kind);

		$.ajax({
			type: 'POST',
			url: build_ajax_path('/prepare_new_session'),
			data: {"authenticity_token": authenticity_token},
		}).then(function(){
			return $.ajax({
				type: 'POST',
				url: build_ajax_path('/upload_sequence'),
				data: $('#sequenceForm').serialize(),
			});
		}).then(function(){
			return $.ajax({
				type: 'POST',
				url: build_ajax_path('/upload_gene_structures'),
				data: $('#genestructForm').serialize(),
			});	
		}).then(function(){
			return $.ajax({
				type: 'POST',
				url: build_ajax_path('/upload_pdb'),
				data: $('#pdbForm').serialize(),
			});	
		}).then(function(){
			return $.ajax({
				type: 'POST',
				url: build_ajax_path('/upload_species_mapping'),
				data: $('#speciesForm').serialize(),
			});	
		}).then(function(){
			submitData(kind);
		});

		// style clicked example
		$(myId).append(" (Example loaded.)");
		$(myId).removeAttr("onclick");
		$(myId).removeClass("active_example");
		$(myId).addClass("inactive_example");

	}
</script>