<%
  stats_path = controller.build_output_path("stats.txt")

  Helper.file_exist_or_die(stats_path)

  # exon-intron pattern
  pattern_data, stats_data = parse_statspattern(stats_path)
  pattern_intronindices_tr = data_to_intronindex_tr(pattern_data)
  pattern_tr = data_to_tr(pattern_data)

  # statistics info
  th_data = [ stats_data.shift ]
  stats_th = data_to_th(th_data)
  stats_tr = stats_data_to_tr(stats_data)
%>

<div class="pattern" id="stats-pattern-div">
  <table id="stats-pattern" class="fixTable fixedPatternTable">
    <tbody>
      <%= pattern_tr.html_safe %>
    </tbody>
    <tfoot>
      <%= pattern_intronindices_tr.html_safe %>
    </tfoot>
  </table>
</div>

<div id="intron-coloring" class="info" style="display:none;">
  Intron positions are highlighted according to the <i>Intron Alignment</i> view.
</div>

<div class="large-spacer stats-info" id="stats-info-div">
  <table id="stats-info" class="fixTable">
    <thead>
      <%= stats_th.html_safe %>
    </thead>
    <tbody>
      <%= stats_tr.html_safe %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  // fix footer and first column
  $(document).ready(function() {
    $("#stats-pattern.fixTable").tableHeadFixer({'foot': true, 'head': false, 'left': 1}); 
    $("#stats-info.fixTable").tableHeadFixer({'foot': false, 'head': true, 'left': 0}); 
  });

  // hovering info table to highlight column in pattern table
  $("#stats-info td").hover(
    function () {
      var thisclass = this.className;
      $('.'+thisclass).addClass('pattern-hover');
    }, 
    function () {
      // remove class first, to use other class (= intron-index) as selector
      $(this).removeClass('pattern-hover');
      var thisclass = this.className;   
      $('.'+thisclass).removeClass('pattern-hover');      
    }
  );

  // quick-fix to init footer whenever stats-tab is entered
  $("#tab-intron-history").click(function() {
    $("#stats-pattern-div").scrollTop(1);
    $("#stats-pattern-div").scrollTop(-1);
  });

  // position of first visible element in pattern-table
  var stats_pattern_left = $("#stats-pattern-div .intron-index-0:first").position().left;
  var stats_info_top = $("#stats-info-div .intron-index-0:first").position().top;
  // jump to first highlighted element (if its not already visible)
  function scrollStatsIntoView(this_class) {
    // 1) pattern table
    var pos = $("#stats-pattern-div ." + this_class + ":first").position().left;
    if ( stats_pattern_left <= pos && pos <= $("#stats-pattern-div")[0].clientWidth ) {
      // nothing to do, first element is already visible
    } else {
      // jump to first position
      var offset = pos - stats_pattern_left;
      $("#stats-pattern-div").scrollLeft(offset);
    }

    // 2) info table
    pos = $("#stats-info-div ." + this_class + ":first").position().top;
    if ( stats_info_top <= pos && pos <= $("#stats-info-div")[0].clientHeight ) {
      // nothing to do, first element is already visible
    } else {
      // jump to first position
      var offset = pos - stats_info_top;
      $("#stats-info-div").scrollTop(offset);    
    }
  }

</script>