<%
  stats_path = controller.build_output_path("stats.txt")

  Helper.file_exist_or_die(stats_path)

  # exon-intron pattern
  pattern_data, stats_data = parse_statspattern(stats_path)
  pattern_intronindices_tr = data_to_intronindex_tr(pattern_data)
  pattern_tr = data_to_tr(pattern_data)

  # statistics info
  th_data = [ stats_data.shift ]
  stats_th = data_to_th(th_data)
  stats_tr = stats_data_to_tr(stats_data)
%>

<div class="pattern" id="stats-pattern-div">
  <table id="stats-pattern" class="fixTable fixedPatternTable unstyled">
    <tbody>
      <%= pattern_tr.html_safe %>
    </tbody>
    <tfoot>
      <%= pattern_intronindices_tr.html_safe %>
    </tfoot>
  </table>
</div>

<div id="intron-coloring" class="info" style="display:none;">
  Intron positions are highlighted according to the <i>Intron Alignment</i> view.
</div>

<div class="large-spacer stats-info" id="stats-info-div">
  <table id="stats-info" class="fixTable">
    <thead>
      <%= stats_th.html_safe %>
    </thead>
    <tbody>
      <%= stats_tr.html_safe %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  // fix footer and first column
  $(document).ready(function() {
    $("#stats-pattern.fixTable").tableHeadFixer({'foot': true, 'head': false, 'left': 1}); 
    $("#stats-info.fixTable").tableHeadFixer({'foot': false, 'head': true, 'left': 0}); 
  });

  // hovering info table to highlight column in pattern table
  $("#stats-info td").hover(
    function () {
      var thisclass = this.className;
      $('.'+thisclass).addClass('pattern-hover');
    }, 
    function () {
      // remove class first, to use other class (= intron-index) as selector
      $(this).removeClass('pattern-hover');
      var thisclass = this.className;   
      $('.'+thisclass).removeClass('pattern-hover');      
    }
  );

  // quick-fix to init footer whenever stats-tab is entered
  $("#tab-intron-history").click(function() {
    $("#stats-pattern-div").scrollTop(1);
    $("#stats-pattern-div").scrollTop(-1);
  });

</script>