// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** Layout und Aufbau der Seite:
 *
 * #header (fixed)
 *   #banner
 *   #nav menu <ul>
 *     <li> oder <li.selected>
 * #leftrow
 *   #content
 *     <content> (see: next section)
 * #rightrow (fixed)
 *   <div.rightbox> (<div class="rightbox"><div><div><div>[CONTENT]</div></div></div></div>)
 *   ...
 * footer
*/

/*** Farben:
 *
 * #f6f6f6 (hellgrau)    Content-Hintergr?nde
 * #d9d9d9 (grau)        Hintergrund
 * #737373 (dunkelgrau)  Menu
*/
$hellgrau: #f6f6f6;
$grau: #d9d9d9;
$dunkelgrau: #737373;
$menu_links_inactiv: #F2F2F2;
$menu_links_selected: #999999;
$content_background: #F6F6F6;
$h1_color: #336699;
// $h1_color: #793C67;
$h2_color: #ddd;
$nice_button_bg: $h1_color;
$h1_accent_color: #FF8D66 ; // #FFA666;

/*** Allgemeine Regeln ***/

body, html {
    font-family: Arial, sans-serif;
    background-color: $grau;
    margin-top: -3px;
    font-size: 12px;
}

a {
    font-style: italic;
    color: #000;
    text-decoration: none;
    img {
        vertical-align: middle;
        border: 0 none;
    }
}

a.external { background: url("icons/link.png") no-repeat center right; text-decoration:underline; padding-right:18px; }
a.internal { background: url("icons/anchor.png") no-repeat center right; text-decoration:underline; padding-right:18px; }

a.help { background: url("icons/help.png") no-repeat center right; text-decoration:underline; padding-right:18px; padding-left:18px; }

h1, h2, h3, h4, h5 {
}

#main_page {
    width: 900px;
    margin-top: 5px;
}

#header {
    background-color: white;
    height: 95px;
    width: 900px;
}

#logo {
    height:70px;
    width: 900px;
    background: url("layout/genepainter-banner-v3.png") no-repeat scroll right top transparent;
}

#nav, ul{
    padding: 0;
    margin: 0;
}

#menu {
    background-color: $dunkelgrau;
    font-size: 12px;
    height: 25px;
    margin: 0;
    padding: 0;
    width: 900px;

    li {
        float: left;
        list-style: none outside none;
        text-align: center;
        a {
            color: $menu_links_inactiv;
            display: block;
            font-style: normal;
            line-height: 25px;
            padding: 0 7px;
        }

        a:hover {
            background-color: $menu_links_selected;
        }
    }

    li.selected a {
        background-color: $menu_links_selected;
        color: black;
    }
}


#rightside {
    margin-top: 15px;
    width: 150px;
    position:relative;
    float: left;
}

#footer {
    clear: both;
    font-size: 12px;
    margin: 0;
    padding: 5px 0 0;
    text-align: center;
}
#content {
    margin-top: 10px;
    padding: 10px;
    width: 730px;
    min-height: 600px;
    background-color: $content_background;
    text-align: left;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position:relative;
    float: left;

    h1 {
        background: $h1_color; /* Old browsers */
        background: -moz-linear-gradient(left,  $h1_color 0%, $content_background 92%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,$h1_color), color-stop(92%,$content_background)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  $h1_color 0%,$content_background 92%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  $h1_color 0%,$content_background 92%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  $h1_color 0%,$content_background 92%); /* IE10+ */
        background: linear-gradient(left,  $h1_color 0%,$content_background 92%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$h1_color', endColorstr='$content_background',GradientType=1 ); /* IE6-9 */

        border-radius: 10px 0 0 0;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        -webkit-border-radius: 10px 0 0 0;
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin: 0px 0px 10px;
        padding: 4px 5px 4px 10px;
        color: white;
    }
    h2 {
        display: block;
        background: $h2_color;
        margin: 10px 0px;
        padding: 3px 10px;
        border: 2px solid $hellgrau;
        border-width: 5px 0px 2px 0px;
        font-weight: bold;
        font-size: 14px;
    }
    h3 {
        display: block;
        // border: 1px solid #aaa;
        border: 1px solid $h1_color;
        border-width: 0px 0px 1px 0px;
        margin: 15px 0px 5px 0px;
        padding: 0px 0px 2px 0px;
        font-weight: bold;
        font-size: 14px;
    }
    h4 {
        display: block;
        font-weight: bold;
        font-size: 14px;
        margin: 15px 0px 5px 0px;
        padding: 0px 0px 2px 0px;
        border: 1px solid $h2_color;
        border-width: 0px 0px 1px 0px;
    }
    div {
        padding-left: 5px;
    }
}

#results_section {
    position: relative;
    margin-top: 25px;
    padding-left: 0px !important;
}

.nice_button{
    width: 120px;
    height: 25px;
    padding: 2px 16px 2px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin: 1em 0 0.3em;
    position: relative;

    /* Label */
    font-family: Lucida Sans, Helvetica, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #fff;
    text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: $nice_button_bg;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 85%, from($nice_button_bg), to(#BC75A7));
    background-image: -moz-linear-gradient($nice_button_bg 0%, #BC75A7 85%);
    border-top-color: $h1_color;
    border-right-color: $h1_color;
    border-bottom-color: $h1_color;
    border-left-color: $h1_color;
    font-size: 14px;
    cursor: pointer;
}

.nice_button:hover {
        text-shadow: rgb(255, 255, 255) 0px 0px 5px;
    }

.nice_button.glare {
        position: absolute;
        top: 0;
        left: 5px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        height: 1px;
        width: 142px;
        padding: 8px 0;
        background-color: $nice_button_bg;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from($nice_button_bg), to(#BC75A7));
        background-image: -moz-linear-gradient($nice_button_bg 0%, #BC75A7 95%);
    }


input.defaulttext, textarea.defaulttext {
    background-color: #DFEEFF;
}

#distribution {
    height: 25px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    #percent_a {
        display: block;
        height: 100%;
           -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
               -moz-border-radius-topright: 0px;
            -moz-border-radius-bottomright: 0px;
                   border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
           -webkit-border-top-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
               -moz-border-radius-topleft: 20px;
            -moz-border-radius-bottomleft: 20px;
                   border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
        background-color: rgb(43,194,83);
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(43,194,83)),
          color-stop(1, rgb(84,240,84))
         );
        background-image: -moz-linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
         );
        -webkit-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        position: absolute;
        overflow: hidden;
    }
    #percent_b {
        display: block;
        height: 100%;
           -webkit-border-top-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
               -moz-border-radius-topright: 20px;
            -moz-border-radius-bottomright: 20px;
                   border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            -webkit-border-top-left-radius: 0px;
         -webkit-border-bottom-left-radius: 0px;
                -moz-border-radius-topleft: 0px;
             -moz-border-radius-bottomleft: 0px;
                    border-top-left-radius: 0px;
                 border-bottom-left-radius: 0px;
        background-color: #f42323;
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, #f42323),
          color-stop(1, #f0a3a3)
         );
        background-image: -moz-linear-gradient(
          center bottom,
          #f42323 37%,
          #f0a3a3 69%
         );
        -webkit-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        position: absolute;
        overflow: hidden;
  }
}

#file_upload_field {
    position: relative;
    float: left;
    // width: 220px; /* do not use this in order to avoid display mess in firefox*/
}

#uploaded_files {
    position: relative;
    float: left;
    margin-top: 5px;
}

form.disabled {
    color: $dunkelgrau;
}
/* display results */
.pred_nothing {
    font-style: italic;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    overflow: auto;
}

.predTable {
    width: 720px;
    table-layout:auto;
    overflow: visible;
    font-family: monospace;
}
.predTable th {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.predTable td {
    font-family: monospace;
    font-size: 13px;
}

.predTable tr.grey {
    color: $dunkelgrau;
}
.predTable tr.orange {
    color: $h1_accent_color;
}
.predTable tr.purple {
    color: $h1_color;
}
.predTable .first_col {
    width: 120px;
}
.predTable .last_col {
    width: 180px;
}
tr.highlight {
    color: $h1_color;
}
tr:hover td {
    background: #ededed; /* to better keep track of the line the mouse is over */
    color:black;
}

/*.predTable td .normal_text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}*/


/* style of sequence/ CTG position table, not needed if seq. is splited after 80 chars*/
/*
.leftcol {
    width: 650px;
}

.rightcol {
}
*/

.highlight_aa {
    border: 1px solid $h1_color;
    background-color: $h1_color;
    -moz-opacity:0.8; -webkit-opacity:0.8;
    font-weight: bold;
    color: white;
}

.highlight_res {
    border: 1px solid $grau;
    background-color: $grau;
    -moz-opacity:0.8; -webkit-opacity:0.8;
}

/*// div.pred_data_more {
//     padding-left: 0px;
//     background-color: $h1_color;
// }*/

.line {
    border: 1px solid #aaa;
    border-width: 1px 0px 0px 0px;
    padding-top: 5px; // distance between line and text underneath
}

// .format_ctg_stats {
//     width: 720px;
//     table-layout: auto;
//     overflow: visible;
// }

/*.stats {
}*/

// .param_table td,th {
//     width: 720px;
//     vertical-align: middle;
// }
// .param_table .first_col {
//     width: 40%;
// }

.param_table {
    td, th {
        vertical-align: middle;
    }
    width: 720px;
}
.param_table .first_col{
    width: 40%;
}
.stats_table {
    width: 720px;
}
.stats_table .first_col {
    width: 5%;
    text-align: right;
}


/* end display results */


.notice {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ebfdce;
    width: 100%;
    height: 15px;
    color: green;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5px;
}

#waiting {
    background: rgba(100%,100%,100%,0.5);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 1
}

#waiting_infobox {
    background: rgba(0%,0%,0%,0.5);
    border: 1px solid $h1_color;
    border-radius: 15px 15px 15px 15px;
    font-size: 14px;
    text-align: center;
    width: 300px;
    color: white;
}

#errors_container {
    color: red;
}

td, th {
    vertical-align: top;
}
.img_help {
    float: right;
}

label {
  margin-right: 20px;
}

div.help {
  display: none;
  background: #FFE4E1;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px
}

div.add_species_input {
  padding-bottom: 10px;
}
