<div class="info" id="ie_info">
	<b>
		We optimized the GenePainter web application for Firefox and Google Chrome. The application’s functionality might be reduced in other browsers. To take advantage of the full functionality GenePainter has to offer, please start a recent version of Firefox or Google Chrome and visit this page again.
	</b>
</div>
 
<%= javascript_tag defer: 'defer' do -%>
	var isChrome = /chrome/.test(navigator.userAgent.toLowerCase());
	var isFirefox = /firefox/.test(navigator.userAgent.toLowerCase()); 

	if ( isChrome || isFirefox ) {
		$("#ie_info").hide();
	}
<% end -%>