<!--[if IE]><div class="help" style="display:inline-block;">
<p>
	<b>
		Due to technical limiation of Internet Explorer software, the application's functionality is reduced. To take advantage of the full functionality GenePainter has to offer, please start a recent version of Firefox, Google Chrome or Safari and visit this page again.
	</b>
</p>
</div><![endif]-->
