<div id="waiting" style = "display: none">
  <div style="position: fixed; width: 100%; height:100%;">
    <table style="width:100%; height:100%;">
      <tr>
        <td align="center" style="width: 100%; vertical-align:middle;">
          <div id="waiting_infobox">
            <p><%=image_tag("icons/progress_dog_neg.gif")%></p>
            <p>Please wait ...</p>
            <p>This process might take a few minutes.</p>
            <!-- <div id="waiting_text" style="display:none"></div> -->
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>